{% extends "layout.html" %}
{% block content %}
<h3>なまえ：{{ info.name }}</h3>
<table class="uk-table uk-table-striped uk-table-small uk-table-justify uk-table-responsive">
<tbody>
    <tr>
        <td>HP</td>
        <td>{{ info.HP }}</td>
    </tr>
    <tr>
        <td>こうげき</td>
        <td>{{ info.ATK }}</td>
    </tr>
    <tr>
        <td>ぼうぎょ</td>
        <td>{{ info.DEF }}</td>
    </tr>
    <tr>
        <td>とくこう</td>
        <td>{{ info.S_ATK }}</td>
    </tr>
    <tr>
        <td>ぼうぎょ</td>
        <td>{{ info.S_DEF }}</td>
    </tr>
    <tr>
        <td>すばやさ</td>
        <td>{{ info.SPD }}</td>
    </tr>
</tbody>
</table>
{% endblock %}
