{% extends "layout.html" %}
{% block content %}
<h3>{{ title }}</h3>
<table class="uk-table uk-table-striped uk-table-small uk-table-justify uk-table-responsive">
<tbody>
    <tr>
        <td>なまえ</td>
        {% for item in info -%}
        <td>{{ item.name }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>HP</td>
        {% for item in info -%}
        <td>{{ item.HP }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>こうげき</td>
        {% for item in info -%}
        <td>{{ item.ATK }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>ぼうぎょ</td>
        {% for item in info -%}
        <td>{{ item.DEF }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>とくこう</td>
        {% for item in info -%}
        <td>{{ item.S_ATK }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>ぼうぎょ</td>
        {% for item in info -%}
        <td>{{ item.S_DEF }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>すばやさ</td>
        {% for item in info -%}
        <td>{{ item.SPD }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>とくせい</td>
        {% for item in info -%}
        <td>{{ item.abi1 }}</td>
        {%- endfor %}
    </tr>
    <tr>
        <td>とくせい2</td>
        {% for item in info -%}
            {% if item.abi2 %}
            <td>{{ item.abi2 }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        {%- endfor %}
    </tr>
    <tr>
        <td>とくせい(夢))</td>
        {% for item in info -%}
            {% if item.abiD %}
            <td>{{ item.abiD }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        {%- endfor %}
    </tr>
</tbody>
</table>
{% endblock %}
