{% extends "layout.html" %}
{% block content %}
<h2>{{ title }}</h2>
<div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small">
    <thead>
        <tr>
            <td>なまえ</td>
            {% for item in info -%}
            <td>{{ item.name }}</td>
            {%- endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>HP</td>
            {% for item in info -%}
            <td>{{ item.HP }}</td>
            {%- endfor %}
        </tr>
        <tr>
            <td>こうげき</td>
            {% for item in info -%}
            <td>{{ item.ATK }}
            {% if item.ATK >= item.S_ATK %}
            <span uk-icon="icon: star"></span>
            {% endif %}
            </td>
            {%- endfor %}
        </tr>
        <tr>
            <td>ぼうぎょ</td>
            {% for item in info -%}
            <td>{{ item.DEF }}
            {% if item.DEF >= item.S_DEF %}
            <span uk-icon="icon: star"></span>
            {% endif %}
            </td>
            {%- endfor %}
        </tr>
        <tr>
            <td>とくこう</td>
            {% for item in info -%}
            <td>{{ item.S_ATK }}
            {% if item.ATK <= item.S_ATK %}
            <span uk-icon="icon: star"></span>
            {% endif %}
            </td>
            {%- endfor %}
        </tr>
        <tr>
            <td>とくぼう</td>
            {% for item in info -%}
            <td>{{ item.S_DEF }}
            {% if item.DEF <= item.S_DEF %}
            <span uk-icon="icon: star"></span>
            {% endif %}
            </td>
            {%- endfor %}
        </tr>
        <tr>
            <td>すばやさ</td>
            {% for item in info -%}
            <td>{{ item.SPD }}</td>
            {%- endfor %}
        </tr>
        <tr>
            <td>とくせい</td>
            {% for item in info -%}
            <td>{{ item.abi1 }}</td>
            {%- endfor %}
        </tr>
        <tr>
            <td>とくせい2</td>
            {% for item in info -%}
                {% if item.abi2 %}
                <td>{{ item.abi2 }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
            {%- endfor %}
        </tr>
        <tr>
            <td>とくせい(夢)</td>
            {% for item in info -%}
                {% if item.abiD %}
                <td>{{ item.abiD }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
            {%- endfor %}
        </tr>
        <tr>
            <td>タイプ</td>
            {% for item in info -%}
                <td>{{ item.type1 }}
                {% if item.type2 %}
                /{{ item.type2 }}
                {% endif %}
                </td>
            {%- endfor %}
        </tr>
    </tbody>
    </table>
</div>
{% endblock %}
